:root {
  margin: 0;
  padding: 0;
  background-image: url('zyro-image.png');
  /* background-size:85%; */
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  /* background-color:rgba(185, 185, 185, 0.815) ; */

}
.body{
  /* margin: 0;
  padding: 0;
  background-image:url('/brujula.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}