@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    column-gap: 5%;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    font-family: Avenir-Heavy;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;  
    border-bottom: 1px solid white;
    margin: auto;
}
.textStyle{
    /* display: flex; */
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20;
    font-weight: 450;
  }
  .button{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border:none;
    background:none;
    height: 25px;
    color:white;
    position: relative;
    padding: 0 10px 10px 10px;
}
.button:hover{
    cursor: pointer;
}
.button::after{
    content: "";
    position: absolute;
    background-color:rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
 }
 .button:hover:after {
    width: 100%;
}